<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title) )%> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/shim'%> <!--Renders IE9 exception handling for layouts-->
</head>
<body>
  
<%= render 'layouts/header' %><!--Renders header html5--->

<div class="container"> 
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  
<%= yield %>

<%= render 'layouts/footer' %> <!--Renders generic footer for all pages, just like header and shim-->
<!--- This will make sure embeded ruby will not be inserted into production application/tests; this will allow us to 
see page information in dev, but when we do push the site into production it will not be there for users to 
see. -->
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
